.header {
    color: $basicColor;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
}
.header .container {
    display: flex;
    flex-direction: column;
    gap: 112px;
    align-items: center;
}

.header__btn__list {
    display: flex;
    gap: 4px;
    align-items: center;
}

.header__btn {
    text-align: center;
    color: $basicColor;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    padding: 8px 15px;
}

.sign-up {
    border: 2px solid $basicColor;
    border-radius: 20px;
}

.header__logo {
    color: $basicColor;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
// TABLET

@media screen and (min-width: 758px) {
    .header {
        padding-top: 36px;
    }
    .header .container {
        flex-direction: row-reverse;
        gap: 0;
        justify-content: space-between;
    }
    
    
    .header__logo {
        font-size: 20px;
    }
}
