.hero {
    background-image: url("../../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 214px;
    padding-bottom: 136px;
    color: $basicColor;
    text-align: center;
}
.hero__title {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    width: 306px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.hero__text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 17px;
}
.hero__btn {
    color: $basicColor;
    text-align: center;
    font-size: 14px;
    font-weight: 700;

    width: 282px;
    height: 43px;
    background-color: $accentColor;
    border-radius: 20px;
    margin: 0 auto;
}

@media screen and (min-width: 758px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 233px;
    }
    .hero__title {
        width: 508px;
        font-size: 52px;
        margin-bottom: 36px;
    }
    .hero__text {
        font-size: 24px;
        margin-bottom: 33px;
    }
    .hero__btn {
        width: 228px;
    }
}

// DESKTOP

@media screen and (min-width: 1200px) {
}