body {
    font-family: "Montserrat", sans-serif;
    /* font-family: "Roboto", sans-serif; */
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 100%;
}

// PHONE
@media screen and (min-width: 320px) {
    .container {
        width: 320px;
    }
}

// TABLET
// @media screen and (min-width: 786px) {
//     .container {
//         width: 786px;
//     }
// }

// DEKSTOP
// @media screen and (min-width: 1200px) {
//     .container {
//         width: 1200px;
//     }
// }